<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Rockets</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-skeleton *ngIf="!rockets"></app-skeleton>
  <ion-item-divider>
    <ion-label>Historic Rockets</ion-label>
  </ion-item-divider>

  <ion-item-sliding *ngFor="let r of rockets" [ngClass]="{'active': r.active, 'inactive': !r.active}" (click)="buttonClick(r.rocket_id)">
    <ion-item class="ion-activatable" >
      <ion-ripple-effect></ion-ripple-effect>
      <ion-label>{{r.rocket_name}}</ion-label>
      <ion-label>{{r.country}}</ion-label>
      <ion-note slot="end">
        {{r.cost_per_launch}} $
      </ion-note>
    </ion-item>
  </ion-item-sliding>

  <ion-item-group class="mt-5">
    <ion-item-divider>
      <ion-label>Description</ion-label>
    </ion-item-divider>

    <ion-item-sliding *ngIf="rocket">
      <ion-card-header [ngClass]="{'activeDescrip': rocket.active, 'inactiveDescrip': !rocket.active}">
        <ion-card-title>{{rocket.rocket_name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-card-subtitle>{{rocket.description}}</ion-card-subtitle>
        <ion-row id="content">
          <ion-col size="2">First Flight: </ion-col>
          <ion-col size="3">{{rocket.first_flight}}</ion-col>
          <ion-col size="2">Dimensions: </ion-col>
          <ion-col size="3">{{rocket.height.meters}} meters<br>{{rocket.diameter.meters}} meters<br>{{rocket.mass.kg}} kg</ion-col>
        </ion-row>
        <ion-row id="link">
          <ion-col size="2">Links Wikipedia</ion-col>
          <ion-col size="10"><a href="{{rocket.wikipedia}}">{{rocket.wikipedia}}</a></ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="2">Links Flickr</ion-col>
          <ion-col size="10"><a href="{{rocket.flickr_images}}">{{rocket.flickr_images}}</a></ion-col>
        </ion-row>
      </ion-card-content>
    </ion-item-sliding>
  </ion-item-group>
</ion-content>