#info{
    text-align: left;
    padding-left: 5%;
    width: 50%;
}
.marge {
    margin-left: 5em;
}
.InsideContent{
    display:inline-block;
}
ion-img {
    display: inline-block;
}

#info{
    text-align: left;
    padding-left: 5%;
    width: 50%;
}

#urls {
    #wikipedia {
        align-content: right;
        padding-left: 2%;
    }
}