#slider {
  background: #111111;
}

.ionslide {
  background-image: url("../../assets/icon/menu/bg-slider.png");
}

#wikiLogo {
  width: 50px;
  padding-bottom: 3px;
}

#planet-earth {
  width: 40px;
  padding-right: 15px;
}

#mars {
  width: 40px;
  padding-right: 15px;
}