<ion-split-pane>
  <ion-menu contentId="content" type="push">
    <ion-header>
      <ion-toolbar>
        <ion-title class="menu">Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">
          <ion-item color="light" [routerLink]="p.url" routerDirection="root" [class.active-item]="selectedPath.startsWith(p.url)">
            <img width="25px" height="25px" slot="start" src="{{p.icon}}"/>
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <!---<ion-item tappable routerLink="/login" routerDirection="root">
          <ion-icon name="close" slot="start"></ion-icon>
          Logout
        </ion-item>-->
        <div style="margin-top:80%; border-top: 1px grey solid;">
          <ion-item routerLink="/about" routerDirection="root" style="bottom:0">
            <ion-img style="width: 30px; margin-right: 30px;" src="../../assets/icon/menu/question.svg"></ion-img>
            About
          </ion-item>
        </div>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content" main>
    <ng-progress [color]="'#514aac'" [spinner]="true"></ng-progress>
  </ion-router-outlet>
</ion-split-pane>
