<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dragon Détails</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-previous></app-previous>
  <app-skeleton *ngIf="!dragon"></app-skeleton>
    <div *ngIf="dragon" >
      <div id="headerPage">
        <div id="info" class="InsideContent">
          <ion-label>
            <h1>{{dragon.name}}</h1>
            <p>Type : <b>{{dragon.type}}</b></p>
            <p>First flight : <b>{{dragon.first_flight}}</b></p>
          </ion-label>
        </div>
        <div id="wikipedia" class="InsideContent">
            <ion-row>
                <ion-col size="2"></ion-col>
                <ion-col size="8" style="padding-top: 10px; text-align: center;">
                  <div id="urls">
                    <ion-img id="wikipedia" type="image" src="../../../assets/img/wikipediaLogo.png" (click)="urlWikipedia()"></ion-img>
                  </div>
                </ion-col>
                <ion-col size="2"></ion-col>
            </ion-row>    
        </div>
      </div>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Info</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p><b>First flight</b> : {{dragon.first_flight}}</p>
          <p><b>Orbit duration</b> : {{dragon.orbit_duration_yr}} years</p>
          <p><b>Mass</b> : {{dragon.dry_mass_kg}} kg / {{dragon.dry_mass_lb}} lb</p>
          <p><b>Diameter</b> : {{dragon.diameter.meters}} meters / {{dragon.diameter.feet}} feets</p>
          <p><b>Equipage</b> : {{dragon.crew_capacity}}</p>
          <p><b>Angle de la paroi</b> : {{dragon.sidewall_angle_deg}} degree</p>
          <p><b>Orbit</b> : {{dragon.orbit_duration_yr}}</p>
          
          <ion-card-subtitle><b>Description</b></ion-card-subtitle>
          <p>{{dragon.description}}</p>

          <ion-card-subtitle><b>Lancement masse utile</b></ion-card-subtitle>
          <p>{{dragon.launch_payload_mass.kg}} kg</p>
          <p>{{dragon.launch_payload_mass.lb}} lb</p>

          <ion-card-subtitle><b>Volume de lancement de charge utile</b></ion-card-subtitle>
          <p>{{dragon.launch_payload_vol.cubic_meters}} meters</p>
          <p>{{dragon.launch_payload_vol.cubic_feet}} feets</p>

          <ion-card-subtitle><b>Retour de la masse utile</b></ion-card-subtitle>
          <p>{{dragon.return_payload_mass.kg}} kg</p>
          <p>{{dragon.return_payload_mass.lb}} lb</p>

          <ion-card-subtitle><b>Retour du volume</b></ion-card-subtitle>
          <p>{{dragon.return_payload_vol.cubic_meters}} meters</p>
          <p>{{dragon.return_payload_vol.cubic_feet}} feets</p>

          <ion-card-subtitle><b>Capsule pressurisée</b></ion-card-subtitle>
          <p>{{dragon.pressurized_capsule.payload_volume.cubic_meters}} meters</p>
          <p>{{dragon.pressurized_capsule.payload_volume.cubic_feet}} feets</p>

          <ion-card-subtitle><b>Tronc</b></ion-card-subtitle>
          <p>Volume : {{dragon.trunk.trunk_volume.cubic_meters}} meters / {{dragon.trunk.trunk_volume.cubic_feet}} feets</p>
          <p>Panneau solaire: {{dragon.trunk.cargo.solar_array}}</p>

          <ion-card-subtitle><b>Taille du tronc</b></ion-card-subtitle>
          <p>{{dragon.height_w_trunk.meters}} meters</p>
          <p>{{dragon.height_w_trunk.feet}} feets</p>

        </ion-card-content>
      </ion-card>
      <ion-card>
          <ion-card-header>
              <ion-card-title>Heat-Shield</ion-card-title>
            </ion-card-header>
        <ion-card-content>
          <p><b>Material</b> : {{dragon.heat_shield.material}}</p>
          <p><b>Size</b> : {{dragon.heat_shield.size_meters}} meters</p>
          <p><b>Temperature</b> : {{dragon.heat_shield.temp_degrees}} dregrees</p>
          <p><b>Partner</b> : {{dragon.heat_shield.dev_partner}}</p>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
            <ion-card-title>Thrusters</ion-card-title>
          </ion-card-header>
      <ion-card-content *ngFor="let thruster of dragon.thrusters">
        <p><b>Type</b> : {{thruster.type}}</p>
        <p><b>Amount</b> : {{thruster.amount}}</p>
        <p><b>Pods</b> : {{thruster.pods}}</p>
        <p><b>Fuels</b> : {{thruster.fuel_1}} / {{thruster.fuel_2}}</p>
        <ion-card-subtitle><b>Thrust</b></ion-card-subtitle>
          <p>{{thruster.thrust.kN}} kN</p>
          <p>{{thruster.thrust.lbf}} lbf</p>
      </ion-card-content>
    </ion-card>
    </div>
</ion-content>