<ion-tabs color="success">
  <ion-tab-bar slot="top">
    <ion-tab-button tab="cores">
      <img width="25px" height="25px" src="../../assets/icon/menu/coreTopMenu.png">
      <ion-label>Core</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="core-upcoming">
      <img width="25px" height="25px" src="../../assets/icon/menu/upcoming.png"/>
      <ion-label>Upcoming</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="core-past">
      <ion-icon name="rewind"></ion-icon>
      <ion-label>Past</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
