h1 {
  padding-top: 2%;
  padding-left: 1%;
}

h2 {
  padding-left: 2%;
}

p {
  padding-left: 10px;
  font-size: medium;
  text-decoration: underline;
}



#manufacturer {
  padding-top: 1%;
  padding-bottom: 1%;
}

#wikiLogo {
  width: 60px;
  padding-left: 12px;
  padding-bottom: 3px;
}

#twitterLogo {
  height: 47px;
  padding-bottom: 7px;
  padding-left: 10px;
}

#websiteLogo {
  width: 60px;
  padding-left: 9px;
}

#payloadLabel {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  color: #039be5;
  text-decoration: underline;
  padding-left: 10px;
}
