.active {
  border-left: 6px solid var(--ion-color-success);
  margin: 0px 0 2px 0;
}

.lost {
  border-left: 6px solid var(--ion-color-warning);
  margin: 0px 0 2px 0;
}

.inactive {
  border-left: 6px solid var(--ion-color-danger);
  margin: 0px 0 2px 0;
}

.unknown {
  border-left: 6px solid #111111;
  margin: 0px 0 2px 0;
}